button {
  text-align: center;
}
input {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
}
button {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  background-color: #4caf50;
  color: white;
}

div {
  margin: 50px auto;
  width: 400px;
  padding: 30px;
  background-color: aquamarine;
  border-radius: 10px;
}
